<h1>Nos articles</h1>

{% for article in articles %}
<div class="article">
  <h3>{{ article.title }}</h3>
  <p>{{ article.content|truncatewords_html:80 }}</p>
  <p><a href="{% url "show_article" article.pk %}">Lire la suite</a>
</div>
{% endfor %}

{# Mise en forme de la pagination ici #}
{% if is_paginated %}
<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
  {% endif %}
  Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
  {% if page_obj.has_next %}
  — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
  {% endif %}
</div>
{% endif %}

{% if categories %}
  <h3>Catégories disponibles</h3>
  <ul>
    {% for category in categories %}
      <li><a href="{% url 'articles_by_category' category.pk %}">{{ category.name }}</a></li>
    {% endfor %}
    <li><a href="{% url 'article_list' %}">All categories</a></li>
  </ul>
{% endif%}


<div>
  <a href="{% url 'new_contact' %}">Nouveau Contact</a>
</div>
<div>
  <a class="btn btn-default btn-primary" href="{% url 'contact_list' %}">Voir les contacts</a>
</div>
<div>
  <a href="{% url 'contact' %}" >Contact page</a>
</div>

{% load flatpages %}
{% get_flatpages as flatpages %}
<ul>
    {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% empty %}
      <li>No flatpages</li>
    {% endfor %}
</ul>
